<!DOCTYPE html>
<html>
<head>
  <title>Formitable</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='https://cdn.jsdelivr.net/intro.js/2.1.0/introjs.min.css' rel='stylesheet' type='text/css'>
	<link href='https://cdn.jsdelivr.net/intro.js/2.1.0/intro.min.js' type="text/javascript">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
